.add {
    width: 150px;
    height: 50px;
    border: 1px white solid;
    align-self: center;
    opacity: 1;
    background-color: black;
}

.add:hover {
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .add {
        width: 282px;
        margin-top: 36px;
    }
}