.add__plus {
    background-image: url(../../../images/Plus.svg);
    height: 22px;
    width: 22px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .add__plus {
        height: 16px;
        width: 16px;
        background-size: 100%;
    }
}