.element__heart {
    background-image: url(../../../images/heart.svg);
    height: 19px;
    width: 22px;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.element__heart:hover {
    opacity: 0.5;
}

.element__heart:active {
    background-image: url(../../../images/blackHeart.svg);
}